{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="logo_img">
        <img src="{% static 'img/pornhub_logo.png' %}" alt="logo">
    </div>
    <form id="get_info_form" action="" method="post">
        {% csrf_token %}
        {{ form.title }}
        <button type="submit">Get info</button>
    </form>

    {% if error_message %}
        <h2>{{ error_message }}</h2>
    {% endif %}

    {% if video_data %}
        <!-- {{ video_data }} -->
        <form id="download_form" action="download-video/" method="post">
            {% csrf_token %}
            <h2>{{ video_data.title }}</h2>
            <img src="{{ video_data.thumbnail }}" alt="{{ video_data.title }}">
            <p>Choose video quality:</p>
            <div class="download_video_block">
                <select name="select_res" id="">
                    {% for format in video_data.formats %}
                        <option value="{{ format }}">{{ format }}</option>
                    {% endfor %}
                    <input type="hidden" name="url" value="{{ video_data.url }}">
                    <button type="submit">Download</button>
                </select>
            </div>
        </form>
    {% endif %}
{% endblock %}